---
foo: bar
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

.post h1, h2, h3, h4, h5, h6 {
    text-align: left;
}

.highlight {
    text-align: left;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;
