---
foo: bar
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

.post h1, h2, h3, h4, h5, h6 {
    text-align: left;
}

.highlight {
    text-align: left;
}

/* Class to center youtube videos. */
.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 3em;
}

/* http://www.smashingmagazine.com/2014/02/making-embedded-content-work-in-responsive-design/ */
.video iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


.text-centered {
    text-align: center;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;
